*.hiden{
    display: none;
}
.topbar{
    background: #d43c33;
    height: 64px;
    width:100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 100;
}
.topbar .logo svg{
    width:142px;
    height: 25px;
    margin-left:10px;
    margin-top:5px;
}
.topbar .download a{
    color:white;
    font-size: 15px;
    margin-right: 10px;
    padding:0 10px 0 10px;
    display: inline-block;
    line-height: 30px;
    position: relative;
}
.topbar .download a::after{
    content:'';
    width:200%;
    height: 200%;
    transform-origin: 0 0;
    transform: scale(0.5);
    border:1px solid white;
    position: absolute;
    top:0;
    left:0;
    border-radius:50px;
}
.tabs .tabs-control{
    display: flex;
    border-bottom: 1px solid #d9d9d9;
    height: 40px;
    width:100vw;
    position: fixed;
    z-index: 100;
    top:64px;
    background: white;
}
.tabs .tabs-control li{
    font-size: 15px;
    width:33.333333%;
    line-height: 35px;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.tabs .tabs-control li .text{
    padding:3px 5px 0 5px;
    position: relative;
}
.tabs .tabs-control li.active{
    color:#d43c33;
}
.tabs .tabs-control li.active .text::after{
    content:'';
    width:100%;
    height: 2px;
    background: #d33a31;
    position: absolute;
    z-index:5;
    bottom:-1px;
    left:0;
}
.tabs .tabs-content{
    margin-top: 124px;
    position: relative;
}

.tabs .tabs-content .recommend{
    display: none;
}
.tabs .tabs-content .recommend.active{
    display: block;
}
.tabs .tabs-content .hot{
    display: none;
}
.tabs .tabs-content .hot.active{
    display: block;
}
.tabs .tabs-content .search{
    display: none;
}
.tabs .tabs-content .search.active{
    display: block;
}
.tabs .tabs-content .recommend{
    margin-top:20px;
}
.tabs .tabs-content .recommend h3{
    font-size: 17px;
    line-height: 20px;
    padding-left:9px;
    margin-bottom: 14px;
    position: relative;
}
.tabs .tabs-content .recommend h3::after{
    content:'';
    position: absolute;
    width:2px;
    height: 16px;
    top:1px;
    left:0;
    background: #d43c33;
}
.tabs .tabs-content .recommend .album{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:24px;
}

.tabs .tabs-content .recommend .album .images{
    width:32.8vw;
    padding-bottom: 16px;
    position: relative;
}
.tabs .tabs-content .recommend .album .images::after{
    content:'123万';
    position: absolute;
    top:0;
    right:0;
    padding-left:13px;
    z-index: 5;
    font-size: 12px;
    line-height: 10px;
    margin:6px 5px;
    color:white;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMCI+PGcgb3BhY2l0eT0iLjE1Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwNDAwMDAiIGQ9Im0yMiAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvZz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNmZmYiIGQ9Im0yMCAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvc3ZnPg==) no-repeat 0px 0px;
}
.tabs .tabs-content .recommend .album .images img{
    width:32.8vw;
    vertical-align: top;
    position: relative;
}
.tabs .tabs-content .recommend .album .images p{
    font-size: 13px;
    line-height: 1.2;
    padding:6px 2px 0 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.tabs .tabs-content .recommend .last-list .name p{
    font-size: 17px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    position: relative;
}
.tabs .tabs-content .recommend .last-list{
    margin-left:10px;
    position: relative; 
}
.tabs .tabs-content .recommend .last-list .a{
    width:100%;
    position:relative;
    padding:6px 0;
}
.tabs .tabs-content .recommend .last-list .a:after{
    content: '';
    height: 1px;
    width:100%;
    background: rgba(0,0,0,0.1);
    position: absolute;
    bottom:0;
    left:0;
}
.tabs .tabs-content .recommend .last-list .name{
    width:86.133333vw;
    height: 25px;
    padding-top:3px;
}
.tabs .tabs-content .recommend .last-list .name p span{
    color:#888;
}
.tabs .tabs-content .recommend .last-list .author{
    font-size: 12px;
    color:#888;
    width:86.133333vw;
    height: 18px;
    padding-top:2px;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.tabs .tabs-content .recommend .last-list .author.sq{
    padding-left:16px;
}
.tabs .tabs-content .recommend .last-list .author.sq::after{
    content:'';
    width:12px;
    height: 8px;
    position: absolute;
    left:0;
    top:5px;
    background: url(http://ovmr7ndid.bkt.clouddn.com/icon1.png);
    background-size: 166px 97px;
}
.tabs .tabs-content .recommend .last-list .icon-play{
    width: 22px;
    height: 22px;
    position: absolute;
    top:16px;
    right:10px;
    background: url(http://ovmr7ndid.bkt.clouddn.com/icon1.png) no-repeat -24px 0px;
    background-size: 166px 97px;
}
.tabs .tabs-content .recommend .art{
    margin-top:4px;
    height: 200px;
    padding-top: 63px;
    background:url(http://ovmr7ndid.bkt.clouddn.com/bg1.png);
    background-size: 372px 203px;
}
.tabs .tabs-content .recommend .art .logo{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.tabs .tabs-content .recommend .art .logo .logosvg{
    height: 44px;
}
.tabs .tabs-content .recommend .art .download{
    border:1px solid #d33a31;
    border-radius:20px;
    color:#d33a31;
    width:301px;
    height: 40px;
    font-size: 16px;
    margin:5px auto;
    line-height: 38px;
    text-align: center;
}
.tabs .tabs-content .recommend .art .remark{
    color: #888;
    font-size: 12px;
    transform: scale(.75);
    line-height: 16px;
    text-align: center;
}
.tabs .tabs-content .hot{
    margin-top: -20px;
    position: relative;
    width:100vw;
}
.tabs .tabs-content .hot .hotbar{
    padding-left:19px;
    width:100%;
    height: 146px;
    background: url(http://ovmr7ndid.bkt.clouddn.com/bg2.jpg) no-repeat 0px 0px;
    background-size: 100% 146px;
    position: relative;
    display: flex;
}
.tabs .tabs-content .hot .hotbar::after{
    content:'';
    background-color: rgba(0,0,0,.2);
    width:100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
    display: flex;
    flex-direction: column;
}
.tabs .tabs-content .hot .hotbar .hot-logo{
    width:142px;
    height: 67px;
    z-index: 5;
    position: absolute;
    top:25px;
    background: url(//s3.music.126.net/m/s/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880) no-repeat -23px -30px;
    background-size: 166px 97px;
}
.tabs .tabs-content .hot .hotbar .date{
    z-index: 5;
    color:hsla(0,0%,100%,.8);
    font-size: 12px;
    transform: scale(.9);
    position: absolute;
    bottom:29px;
    left:15px;
}
.tabs .tabs-content .hot .hot-list{
    position: absolute;
    top:145px;
    left:2.666667vw;
    width:97.333333vw;
}
.tabs .tabs-content .hot .hot-list a{
    display: flex;
}
.tabs .tabs-content .hot .hot-list .number{
    font-size: 17px;
    color: #999;
    height: 55px;
    padding-top:19px;
    padding-right:10px;
}
.tabs .tabs-content .hot .hot-list .number.top{
    color: #df3436;
}
.tabs .tabs-content .hot .hot-list .a{
    position: relative;
    width:100%;
}
.tabs .tabs-content .hot .hot-list .a::after{
    content: '';
    height: 1px;
    width:100%;
    background: rgba(0,0,0,0.1);
    position: absolute;
    bottom:0;
    left:0;
}
.tabs .tabs-content .hot .hot-list .a .name{
    font-size: 17px;
    margin-top:10px;
    margin-left:-1px;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    width: 80vw;
}
.tabs .tabs-content .hot .hot-list .a .name span{
    color:#888;
}
.tabs .tabs-content .hot .hot-list .a .author{
    font-size: 12px;
    width:80vw;
    color:#888;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    left:-1px;
}
.tabs .tabs-content .hot .hot-list .a .author.sq{
    padding-left:16px;
}
.tabs .tabs-content .hot .hot-list .a .author.sq::after{
    content:'';
    width:12px;
    height: 8px;
    position: absolute;
    left:0px;
    top:3px;
    background: url(http://ovmr7ndid.bkt.clouddn.com/icon1.png);
    background-size: 166px 97px;
}
.tabs .tabs-content .hot .hot-list .a .icon-play{
    width:22px;
    height: 22px;
    background: url(//s3.music.126.net/m/s/img/index_icon_2x.png?5207a28…) -24px 0;
    background-size: 166px 97px;
    position: absolute;
    top:17px;
    right:9px;
}
.tabs .tabs-content .hot .loadMore{
    position: absolute;
    top:1246px;
    left:-1px;
    line-height: 55px;
    width:100vw;
    font-size: 14px;
    text-align: center;
    color:#999;
}
.tabs .tabs-content .search{
    position: absolute;
    top:-15px;
    left:0;
    width:100vw;
}
.tabs .tabs-content .search .search-bar{
    position: relative;
    width: calc(100% - 20px);
    height: 30px;
    margin:10px;
    background: #ebecec;
    border-radius: 30px;
    display: flex;
}
.tabs .tabs-content .search .search-bar .note{
    position: absolute;
    top:7px;
    left:30px;
    font-size: 14px;
    color: #c9c9c9;
    background: transparent;
    z-index: 5;
}
.tabs .tabs-content .search .search-bar .note.hiden{
    display: none;
}
.tabs .tabs-content .search .search-bar input{
    height: 30px;
    width:295px;
    border:0;
    background: transparent;
    font-size: 14px;
    z-index: 10;
}
.tabs .tabs-content .search .search-bar input:focus{
    outline: none; 
}
.tabs .tabs-content .search .search-bar .icon-search{
    height: 30px;
    width:30px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjYzljOWNhIiBkPSJNMjUuMTgxLDIzLjUzNWwtMS40MTQsMS40MTRsLTcuMzE1LTcuMzE0CgkJQzE0LjcwOSwxOS4xMDcsMTIuNDYsMjAsMTAsMjBDNC40NzcsMjAsMCwxNS41MjMsMCwxMEMwLDQuNDc3LDQuNDc3LDAsMTAsMGM1LjUyMywwLDEwLDQuNDc3LDEwLDEwYzAsMi4zNDItMC44MTEsNC40OS0yLjE2LDYuMTk1CgkJTDI1LjE4MSwyMy41MzV6IE0xMCwyYy00LjQxOCwwLTgsMy41ODItOCw4czMuNTgyLDgsOCw4YzQuNDE4LDAsOC0zLjU4Miw4LThTMTQuNDE4LDIsMTAsMnoiLz48L3N2Zz4=) no-repeat 8px 9px;
    background-size: 13px 13px;
}.tabs .tabs-content .search .search-bar .icon-empty{
    display: block;
    height: 30px;
    width:30px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOCAyOCI+PGcgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjYmNiZGJkIiBkPSJNMTQsMGM3LjczMiwwLDE0LDYuMjY4LDE0LDE0YzAsNy43MzItNi4yNjgsMTQtMTQsMTQKCVMwLDIxLjczMiwwLDE0QzAsNi4yNjgsNi4yNjgsMCwxNCwweiIvPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ViZWNlYiIgc3Ryb2tlLXdpZHRoPSIyLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCI+PHBhdGggZD0ibTE5IDlsLTEwIDEwIi8+PHBhdGggZD0ibTkgOWwxMCAxMCIvPjwvZz48L2c+PC9zdmc+) no-repeat 7px 7px;
    background-size: 14px 14px;
    position: absolute;
    top:1px;
    right:-1px;
}
.tabs .tabs-content .search .search-bar .icon-empty.hiden{
    display: none;
}

.tabs .tabs-content .search .search-bar .input:focus:valid + .icon-empty { 
    display: block; 
}
.tabs .tabs-content .search .segment{
    height: 1px;
    width: 200%;
    transform-origin: 0 0;
    transform: scale(0.5);
    background: rgba(0,0,0,.1);
    margin-top:15px;
    margin-bottom: 13px;
}
.tabs .tabs-content .search  h5{
    font-size: 12px;
    color:#666;
    padding: 0 10px;
}
.tabs .tabs-content .search .search-hot ul.list{
    display: flex;
    flex-wrap: wrap;
    padding:10px;
}
.tabs .tabs-content .search .search-hot ul.list li{
    display: inline-block;
    height: 32px;
    margin-right: 8px;
    margin-bottom: 7px;
    padding: 0 13px;
    font-size: 14px;
    line-height: 32px;
    color: #333;
    border:1px solid rgba(211, 212, 218,0.7);
    border-radius: 32px;
}
.tabs .tabs-content .search .search-result .name p{
    font-size: 17px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    position: relative;
}
.tabs .tabs-content .search .search-result{
    margin-left:10px;
    position: relative; 
}
.tabs .tabs-content .search .search-result h5{
    margin-left:-10px;
}
.tabs .tabs-content .search .search-result .a{
    width:100%;
    position:relative;
    padding:6px 0;
}
.tabs .tabs-content .search .search-result .a:after{
    content: '';
    height: 1px;
    width:100%;
    background: rgba(0,0,0,0.1);
    position: absolute;
    bottom:0;
    left:0;
}
.tabs .tabs-content .search .search-result .name{
    width:86.133333vw;
    height: 25px;
    padding-top:3px;
}
.tabs .tabs-content .search .search-result .name p span{
    color:#888;
}
.tabs .tabs-content .search .search-result .author{
    font-size: 12px;
    color:#888;
    width:86.133333vw;
    height: 18px;
    padding-top:2px;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.tabs .tabs-content .search .search-result .author.sq{
    padding-left:16px;
}
.tabs .tabs-content .search .search-result .author.sq::after{
    content:'';
    width:12px;
    height: 8px;
    position: absolute;
    left:0;
    top:5px;
    background: url(http://ovmr7ndid.bkt.clouddn.com/icon1.png);
    background-size: 166px 97px;
}
.tabs .tabs-content .search .search-result .icon-play{
    width: 22px;
    height: 22px;
    position: absolute;
    top:16px;
    right:10px;
    background: url(http://ovmr7ndid.bkt.clouddn.com/icon1.png) no-repeat -24px 0px;
    background-size: 166px 97px;
}
.tabs .tabs-content .search .search-result h6{
    line-height: 35px;
    font-size: 16px;
    padding-top:10px;
}
.tabs .tabs-content .search .search-result h6:after{
    content: '';
    height: 1px;
    width:100%;
    background: rgba(0,0,0,0.1);
    position: absolute;
    bottom:0;
    left:0;
}
.tabs .tabs-content .search .search-content{
    width:94.666667vw;
    height: 40px;
    margin:0 auto;
    margin-bottom: 10px;
    margin-top:-3px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-top:5px;
    position: relative;
}
.tabs .tabs-content .search .search-content p{
    color: #507daf;
    font-size: 15px;
}
.tabs .tabs-content .search .search-content h5{
    margin-left:-10px;
    margin-top:20px;
}
.tabs .tabs-content .search .search-history{
    width:100vw;
    height: 45px;
}

.tabs .tabs-content .search .search-history li{
    display: flex;
    position: relative;
}
.tabs .tabs-content .search .search-history .icon-history{
    width:15px;
    height: 15px;
    margin:10px;
    margin-top: 15px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjYzljYWNhIiBkPSJtMTUgMzBjLTguMjg0IDAtMTUtNi43MTYtMTUtMTVzNi43MTYtMTUgMTUtMTUgMTUgNi43MTYgMTUgMTUtNi43MTYgMTUtMTUgMTVtMC0yOGMtNy4xOCAwLTEzIDUuODItMTMgMTNzNS44MiAxMyAxMyAxMyAxMy01LjgyIDEzLTEzLTUuODItMTMtMTMtMTNtNyAxNmgtOGMtLjU1MiAwLTEtLjQ0Ny0xLTF2LTEwYzAtLjU1My40NDgtMSAxLTFzMSAuNDQ3IDEgMXY5aDdjLjU1MyAwIDEgLjQ0NyAxIDFzLS40NDcgMS0xIDEiLz48L3N2Zz4=);
    background-size: cover;
}
.tabs .tabs-content .search .search-history li>div{
    font-size: 14px;
    line-height: 45px;
    border-bottom:1px solid rgba(0,0,0,.1);
    width:calc(98.9vw - 30px);
}
.tabs .tabs-content .search .search-history .icon-delete{
    width:27px;
    height:30px;
    margin-top:16px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjOTk5ODk5IiBkPSJtMTMuMzc5IDEybDEwLjMzOCAxMC4zMzdjLjM4MS4zODEuMzgxLjk5OCAwIDEuMzc5cy0uOTk4LjM4MS0xLjM3OCAwbC0xMC4zMzgtMTAuMzM4LTEwLjMzOCAxMC4zMzhjLS4zOC4zODEtLjk5Ny4zODEtMS4zNzggMHMtLjM4MS0uOTk4IDAtMS4zNzlsMTAuMzM4LTEwLjMzNy0xMC4zMzgtMTAuMzM4Yy0uMzgxLS4zOC0uMzgxLS45OTcgMC0xLjM3OHMuOTk4LS4zODEgMS4zNzggMGwxMC4zMzggMTAuMzM4IDEwLjMzOC0xMC4zMzhjLjM4LS4zODEuOTk3LS4zODEgMS4zNzggMHMuMzgxLjk5OCAwIDEuMzc4bC0xMC4zMzggMTAuMzM4Ii8+PC9zdmc+) no-repeat;
    background-size: 12px 12px;
    border-bottom:1px solid rgba(0,0,0,.1);
}